<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_set.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @data_set.description %>
</p>

<p>
  <strong>Data set source:</strong>
  <%= @data_set.data_set_source_id %>
</p>

<p>
  <strong>Confidence level:</strong>
  <%= @data_set.confidence_level %>
</p>

<%= link_to 'Edit', edit_data_set_path(@data_set) %> |
<%= link_to 'Back', data_sets_path %>
