<p id="notice"><%= notice %></p>

<h1>Air Quality Measurements</h1>

<table>
  <thead>
    <tr>
      <th>Data set</th>
      <th>Measurement datetime</th>
      <th>Air quality parameter</th>
      <th>Value</th>
      <th>Location</th>
      <th>City</th>
      <th>Country</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @air_quality_measurements.each do |air_quality_measurement| %>
      <tr>
        <td><%= truncate air_quality_measurement.data_set.to_s %></td>
        <td><%= l air_quality_measurement.measurement_datetime, format: :short %></td>
        <td><%= air_quality_measurement.air_quality_parameter %></td>
        <td><%= air_quality_measurement.value %></td>
        <td><%= truncate air_quality_measurement.location %></td>
        <td><%= air_quality_measurement.city %></td>
        <td><%= air_quality_measurement.country %></td>
        <td><%= link_to 'Show', air_quality_measurement %></td>
        <td><%= link_to 'Edit', edit_air_quality_measurement_path(air_quality_measurement) %></td>
        <td><%= link_to 'Destroy', air_quality_measurement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Air Quality Measurement', new_air_quality_measurement_path %>
