<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_set_source.name %>
</p>

<p>
  <strong>Confidence level:</strong>
  <%= @data_set_source.confidence_level %>
</p>

<%= link_to 'Edit', edit_data_set_source_path(@data_set_source) %> |
<%= link_to 'Back', data_set_sources_path %>
